WALLET_RECIEVER=dx13ykakvugqwzqqmqdj2j2hgqauxmftdn3kqy69g
WALLER_SENDER=dx1v9macmluxh7rk3zsd69v7dwv9fsjhctn2jfhz9
COIN=del
AMOUNT=1
SPEND_COIN=del
BUY_COIN=eth
MAX_SPEND_LIMIT=20
SELL_COIN=del
GET_COIN=eth
MIN_BUY_LIMIT=2
VALIDATOR_ADDRESS=dxvaloper1lx4lvt8sjuxj8vw5dcf6knnq0pacre4wx926l8
STAKE=1
TITLE_COIN=title
TICKER_COIN=TEST
TOKEN_URI=https://devnet-nft.decimalchain.com/api/nfts/
DENOM=phone
NFT_ID=d365ab32a23117c2ad1c001633f89673d4790bf6
